body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #907F48;
    color: #ffffff;
    columns: #ffffff;
    padding: 15px;
    text-align: center;
    font-size: 10px;
    position: relative;
}

header .back-button {
    position: absolute;
    left: 15px;
    top: 25px;
    text-decoration: none;
    color: white;
    font-size: 19px;
}

main {
    padding: 20px;
}

.settings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.settings div {
    background-color: #907F48;
    color:#000000;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.categories div {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.categories button {
    background-color: #907F48;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.categories button:hover {
    background-color: #907F48;
}

.notifications, .backup {
    background-color:#907F48 ;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    position: relative;
    background-color:#907F48;
    color:#ffffff;
    padding: 15px 30px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: nowrap; 
    width: 100%; 
    box-sizing: border-box;
    padding: 90px;
}
.Footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}  
.Log_in_lojas {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    left:10px;  
    top:45px;
}
.Log_in_lojas a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;  
}
.Log_in_lojas a:hover {
    text-decoration: underline;
}
.Retangulo{
    position: absolute;
    width: 2px;
    height: 150px;
    background-color:white;
    border: white;
    left: 160px;
    bottom: 15px;
}
.Info {
    position:absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 14px;
    left: 220px;
}
.Telefone_group {
    display: flex;
    align-items: center;
    gap: 10px;
}
.Email_info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.Numero, .Email {
    font-size: 14px;
}
.Telefone, .Caixa_email {
    width: 24px;
    height: 24px;
}
.Suporte{
    position: absolute;
    right: 700px;
    top: 60px;  
}
.Privacidade{
    position: absolute;
    right: 500px;
    top: 60px;
}
.Termo{
    position: absolute;
    right: 300px;
    top:60px;
}
.Qualidade{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
